basePath: /api/v1
definitions:
  auth.LoginWithGoogleRequest:
    properties:
      google_oauth_token:
        type: string
    type: object
  auth.LoginWithGoogleResponse:
    properties:
      token:
        type: string
      user_id:
        type: integer
    type: object
  auth.UserInfo:
    properties:
      roles:
        items:
          type: string
        type: array
      user_id:
        type: integer
    type: object
  errors.CodedError:
    properties:
      code:
        type: integer
      err: {}
    type: object
host: tcarzverey.ru:8082
info:
  contact: {}
  description: Auth service for mlops project.
  title: HSE MLOps Auth server
  version: "1.0"
paths:
  /login/google:
    post:
      consumes:
      - application/json
      description: Get userID and paseto token by google oauth2 token
      parameters:
      - description: body
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/auth.LoginWithGoogleRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/auth.LoginWithGoogleResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/errors.CodedError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.CodedError'
      summary: Try login with Google OAuth2 token
  /validate:
    get:
      description: Validate user's token and if correct return UserInfo
      parameters:
      - description: Paseto encrypted token
        example: Bearer v2.local.ABCDEFG
        in: header
        name: Authorization
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/auth.UserInfo'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/errors.CodedError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errors.CodedError'
      summary: Validate user's token
securityDefinitions:
  Bearer:
    description: 'Enter the token with the `Bearer: ` prefix, e.g. \"Bearer abcde12345\"'
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
